canvas {
display: block;
margin: 0 auto;
}

body {
background-color: #414c5f;
}

#dd {
margin: 0;
}

#Play:hover {
    border: solid;
    border-radius: 20px;
}

#Credit:hover {
    border: solid;
    border-radius: 20px;
}

#Instruct:hover {
    border: solid;
    border-radius: 20px;
}

